<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>パスワード</title>
</head>
<body class="checkbody">
    <div class="check">
        <h1>メールを送信しました</h1>
        <h2>新しいパスワードは青山メールをご確認ください</h2>
        ※迷惑メールに入っている場合がございます
        <h2><a href="/login">ログイン画面へ</a></h2>
    </div>
</body>
</html>