<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>
    <script src="/js/login.js" ></script>
    <title>ログイン</title>
</head>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
    <h1>TaskReminder</h1>
</div>
    <form action="/login" method="post">
        <div class="form-item">
            <p class="formLabel">UserId</p>
            <input type="text" name="studentId" id="text" class="form-style" autocomplete="off" required/>
        </div>
        <div class="form-item">
            <p class="formLabel">Password</p>
            <input type="password" name="password" id="password" class="form-style" autocomplete="off" required />
            <br>
            <input type="submit" class="login pull-right" value="Log In">
        </div>
    </form>
    <div class="form-item">
        <form action="/remake/password" class="reset" method="post">
            <p><small>※パスワードを忘れた場合はUserIdを入力してReset</small></p>
            <input type="text" name="studentId" placeholder="UserId" required>
            <br>
            <br>
            <input type="submit" class="login pull-right" value="Reset">
        </form>
        <div class="clear-fix"></div>
    </div>
</div>
</div>
</body>
</html>