<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更</title>
</head>
<body>
    <form action="/update/password" method="post">
        新しいパスワード
        <input type="password" name="studentPassword" required>
        <input type="submit" value="変更する">
    </form>
    <h3><a href="/index">トップへ戻る</a></h3>
</body>
</html>