<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/task.css">
    <title>課題管理</title>
</head>
<body>
    <a href="/new/task">課題追加</a>
    <h2><a href="/task/all">他の人を見る</a></h2>
    <h3><a href="/index">トップに戻る</a></h3>
</body>
</html>