<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課題追加</title>
</head>
<body>
    <form action="/create/task" method="post">
        授業
        <select name="classId">
            <% for(var i = 0; i < classes.length; i++){ %>
                <option value=<%= classes[i].id %>><%= classes[i].name %></option>
            <% } %>
        </select>
        <br>
        課題
            <input type="text" name="taskContents">
        <br>
        締切
            <input type="date" name="taskDay">
            <select name="taskHour">
                <option value="00">00</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
              :
              <select name="taskMinute">
                <option value="00">00</option>
                <option value="30">30</option>
                <option value="59">59</option>
              </select>
        <br>
        提出方法
        <select name="taskSubmitWay">
            <option value="コースパワー">コースパワー</option>
            <option value="メール">メール</option>
            <option value="その他">その他</option>
        </select>
        <br>
        <input type="submit" value="追加">
    </form>
</body>
</html>