<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="/css/chat.css">
    <title>リアルタイムチャット</title>
</head>
<body>
  <div class="bg">
    <div class="contents">
      <h1 class="chat">リアルタイムチャット</h1>
      <h1 class="classname">”<%= className %>”のチャットスペース</h1>
      <p class="chat"><a href="/index">トップに戻る</a></p>
      <p class="chat"><a href="/chat">戻る</a></p>
      <ul id="messages" class="list"></ul>
      <div class="form_submit">
        <form id="message_form" action="/chat/<%= className %>/<%= classId%>">
          <input id="input_msg" autocomplete="off" /><button>送信</button>
        </form>
      </div>
    </div>
  <script>
    
      var socketio = io();
      $(function(){
          $('#message_form').submit(function(){
            socketio.emit('message', $('#input_msg').val());
            $('#input_msg').val('');
            return false;
          });
          socketio.on('message',function(msg){
            $('#messages').append($('<li>').text(msg));
            $('#messages').append($('<li>').text('　　From : <%= name%>'));  
          });
        });
    </script>
  </div>
</body>
</html>