<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/task.css">
    <title>授業新規登録</title>
</head>
<body>
    <div class="parent">
        <h1>授業登録</h1>
        <form action="/create/class" method="post">
            <div class="classname">
                <p>授業名</p>
                <select name="className">
                    <option value=0>選択してください</option>
                    <% for(var i = 0; i < classnames.length; i++){%>
                        <option value=<%= classnames[i].name %>><%= classnames[i].name %></option>
                    <%}%>
                  </select>
            </div>
            <input type="submit" value="登録">
        </form>
        <h3><a href="/class">授業一覧に戻る</a></h3>
    </div>
</body>
</html>
