<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>授業新規登録</title>
</head>
<body>
    <form action="/create/class" method="post">
        授業名
        <select name="className">
            <option value="確率・統計">確率・統計</option>
            <option value="品質管理技術">品質管理技術</option>
            <option value="分析技術実験">分析技術実験</option>
        </select>
        <br>
        <input type="submit" value="登録">
    </form>
</body>
</html>